@{
  Layout = "_Layout";
}

@model University_Registrar.Models.Department;

<h2>Department Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This Department does not contain any students</p>
}
else
{
  <h4>Students the Department contains:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Student.Name</li>
  }
  </ul>
}

<p>@Html.ActionLink("Back to Departments", "Index")</p>
<p>@Html.ActionLink("Edit Department", "Edit", new { id = Model.DepartmentId })</p>
<p>@Html.ActionLink("Delete Department", "Delete", new { id = Model.DepartmentId })</p>